body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.input-label {
  font-size: 20px;
  display: flex;
  margin: 10px 0px;
}

.input-field {
  font-size: 18px;
  border-radius: 7px;
  height: 45px;
  width: 270px;
  background-color: rgb(186, 239, 251);
}

.submit {
  border: 1px solid rgb(21, 77, 77);
  border-radius: 10px;
  background-color: rgb(36, 116, 143);
  color: #f9f8f8;
  width: 150px;
  display: block;
  margin-top: 30px;
  padding: 12px;
  font-size: 20px;
}
